<!DOCTYPE html>
<html>
<head>
	<title>{{meta.name}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./home/public/style.css">
</head>
<body>
	<h1 class="hero-headline">{{headline}}</h1>
	<p class="hero-intro">{{intro}}</p>
	{{#if features}}
	<ul class="features-list">
		{{#each features}}
		<li class="features-item">
			<a href="{{path}}" class="features-link">
				<img class="features-img" src="home/public/img/thumb/{{thumb}}" />
				<div class="features-copy">
					<h2 class="features-title">{{name}}</h2>
					<p class="features-blurb">{{blurb}}</p>
				</div>
		</a>
		</li>
		{{/each}}
	</ul>
	{{/if}}
</body>
</html>