<li class="features-item">
	<a href="{{path}}" class="features-link">
		{{#if thumb}}<img class="features-img" src="home/public/img/thumb/{{thumb.image}}" alt="{{thumb.alt}}"/>{{/if}}
		<div class="features-copy">
			{{#if name}}<h2 class="features-title">{{name}}</h2>{{/if}}
			{{#if blurb}}<p class="features-blurb">{{blurb}}</p>{{/if}}
			{{#if disc}}<small class="features-disc">{{disc}}</small>{{/if}}
		</div>
	</a>
</li>